.footer {
  background: linear-gradient(
    315deg,
    rgb(152, 207, 195),
    rgb(86, 181, 184) 100%
  );
  width: 100%;
  margin-top: 3px;
}

.footer {
  grid-area: footer;
}
.copyRight {
  height: 30px;
  float: right;
  margin-right: 20px;
  color: white;
}
